.box_skitter {
  position: relative;
  max-width: 800px;
  height: 300px;
  background: black;
  img {
    max-width: none;
  }
  ul {
    display: none;
  }
  .container_skitter {
    overflow: hidden;
    position: relative;
  }
  .image {
    overflow: hidden;
    img {
      display: none;
    }
  }
  .box_clone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    overflow: hidden;
    display: none;
    z-index: 20;
    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
    }
  }
  .prev_button {
    position: absolute;
    top: 50%;
    left: 35px;
    z-index: 152;
    width: 42px;
    height: 42px;
    overflow: hidden;
    text-indent: -9999em;
    margin-top: -25px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  .next_button {
    position: absolute;
    top: 50%;
    right: 35px;
    z-index: 152;
    width: 42px;
    height: 42px;
    overflow: hidden;
    text-indent: -9999em;
    margin-top: -25px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  .prev_button:hover, .next_button:hover {
    opacity: 0.5 !important;
  }
  .info_slide {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 100;
    background: #000;
    color: #fff;
    font: bold 11px arial;
    padding: 5px 0 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    opacity: 0.75;
    .image_number {
      background: #333;
      float: left;
      padding: 2px 10px;
      margin: 0 5px 0 0;
      cursor: pointer;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s;
      &:hover {
        background: #000;
      }
    }
    .image_number_select {
      background: #cc3333;
      float: left;
      padding: 2px 10px;
      margin: 0 5px 0 0;
      &:hover {
        background: #cc3333;
        float: left;
        padding: 2px 10px;
        margin: 0 5px 0 0;
      }
    }
  }
  .container_thumbs {
    position: relative;
    overflow: hidden;
    height: 50px;
  }
  .info_slide_thumb {
    height: 50px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    top: auto;
    top: 0;
    left: 0;
    padding: 0 !important;
    opacity: 1.0;
    .image_number {
      overflow: hidden;
      width: 100px;
      height: 50px;
      position: relative;
      margin: 0 !important;
      padding: 0 !important;
      -moz-border-radius: 0 !important;
      -webkit-border-radius: 0 !important;
      border-radius: 0 !important;
      img {
        position: absolute;
        top: -30px;
        left: -30px;
        height: 100px;
      }
    }
  }
  .box_scroll_thumbs {
    padding: 0;
    .scroll_thumbs {
      position: absolute;
      bottom: 60px;
      left: 50px;
      background: #ccc;
      background: -moz-linear-gradient(-90deg, #555, #fff);
      background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#fff));
      width: 200px;
      height: 10px;
      overflow: hidden;
      text-indent: -9999em;
      z-index: 101;
      cursor: pointer;
      border: 0px solid #333;
    }
  }
  .info_slide_dots {
    position: absolute;
    bottom: -40px;
    z-index: 151;
    padding: 5px 0 5px 5px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    .image_number {
      background: #333;
      float: left;
      margin: 0 5px 0 0;
      cursor: pointer;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      width: 18px;
      height: 18px;
      text-indent: -9999em;
      overflow: hidden;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s;
      &:hover {
        background: #000;
      }
    }
    .image_number_select {
      background: #cc3333;
      float: left;
      margin: 0 5px 0 0;
      &:hover {
        background: #cc3333;
        float: left;
        margin: 0 5px 0 0;
      }
    }
  }
}

/* =Loading
-------------------------------------------------------------- */

.loading {
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 10000;
  margin: -16px -16px;
  color: #fff;
  text-indent: -9999em;
  overflow: hidden;
  background: url(images/ajax-loader.gif) no-repeat left top;
  width: 32px;
  height: 32px;
}

/* =Label
-------------------------------------------------------------- */

.box_skitter {
  .label_skitter {
    z-index: 150;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: none;
    z-index: 150;
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #fff;
    display: none;
    opacity: 0.8;
    background: #000;
    p {
      padding: 10px;
      margin: 0;
      font: normal 22px arial,tahoma;
      letter-spacing: -1px;
    }
  }
  .progressbar {
    background: #000;
    position: absolute;
    top: 5px;
    left: 15px;
    height: 5px;
    width: 200px;
    z-index: 99;
    border-radius: 20px;
  }
  .preview_slide {
    display: none;
    position: absolute;
    z-index: 152;
    bottom: 30px;
    left: -40px;
    width: 100px;
    height: 100px;
    background: #fff;
    border: 1px solid #222;
    -moz-box-shadow: rgba(0, 0, 0, 0.7) 2px 2px 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.7) 2px 2px 5px;
    box-shadow: rgba(0, 0, 0, 0.7) 2px 2px 5px;
    overflow: hidden;
    ul {
      height: 100px !important;
      overflow: hidden !important;
      margin: 0 !important;
      list-style: none !important;
      display: block !important;
      position: absolute !important;
      top: 0;
      left: 0;
      li {
        width: 100px !important;
        height: 100px !important;
        overflow: hidden !important;
        float: left !important;
        margin: 0 !important;
        padding: 0 !important;
        position: relative !important;
        display: block !important;
        img {
          position: absolute !important;
          top: 0 !important;
          left: 0 !important;
          height: 150px !important;
          width: auto !important;
        }
      }
    }
  }
}

/* =Focus
-------------------------------------------------------------- */

#overlay_skitter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  opacity: 1;
  background: #000;
}

.box_skitter {
  .focus_button {
    position: absolute;
    top: 50%;
    z-index: 100;
    width: 42px;
    height: 42px;
    overflow: hidden;
    text-indent: -9999em;
    margin-top: -25px;
    opacity: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  .play_pause_button {
    position: absolute;
    top: 50%;
    z-index: 151;
    width: 42px;
    height: 42px;
    overflow: hidden;
    text-indent: -9999em;
    margin-top: -25px;
    opacity: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    &.play_button {}
    &:hover {
      opacity: 0.5 !important;
    }
  }
  .focus_button:hover {
    opacity: 0.5 !important;
  }
}

@import "themes/all";
